<h1>Lenormand 3-kaarten relatielegging</h1>

<section id="cards">
</section>

<section id="slots">

    <section id="slot-1" class="slot">
        <h2>De Partner</h2>
    </section>
    
    <section id="slot-2" class="slot">
        <h2>De Vrager</h2>
    </section>
    
    <section id="slot-3" class="slot">
        <h2>De Relatie</h2>
    </section>
    
</section>

<section id="explanations">
</section>
