<section id="cards"></section>
<section id="selected-cards">
    <section id="selected-cards-slot-1" class="slot"></section>
    <section id="selected-cards-slot-2" class="slot"></section>
    <section id="selected-cards-slot-3" class="slot"></section>
</section>
<section id="selected-cards-explanations"></section>
