<section class='explanation'>
    <img src='assets/img/cards/<%=this.model.get("id")%>.jpg'/>
    <h2><%=this.model.get("name")%></h2>
    <p><%=this.model.get("explanation")%></p>
    <div class="clear"></div>
</section>